# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.so
*.db
*.egg
*.egg-info/
*.env
dist/
build/
backend/chroma_data/

# Virtual environments
.venv/
venv/
env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db

backend/.env


.hypothesis/
.ruff_cache/
backend/.ruff_cache/

